# --- Environnement Virtuel ---
venv/
.venv/
env/

# --- Base de données ---
*.sqlite3

# --- Python things ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- VSCode ---
.vscode/
.idea/

# --- Fichiers système ---
.DS_Store
thumbs.db
djangothings/__pycache__/urls.cpython-313.pyc
polls/__pycache__/models.cpython-313.pyc
djangothings/__pycache__/urls.cpython-313.pyc
djangothings/__pycache__/settings.cpython-313.pyc
