body {
  background: url("images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  padding: 20px;
  background-color: #a4a7ab;
}

li a {
  color: #4d3ad8;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  color: #1b5e20;
  text-decoration: underline;
}

h1 {
  color: #2c3e50;
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 10px;
}
